@font-face {
    font-family: 'Geo';
    src: url("../assets/fonts/Geo-Regular.ttf");
}
body
{
    background-color: black;
    color: white;
    margin: 0;
}
h1
{
    font-family: "Geo";
    font-size: 57px;
    margin: 0;
}
.chat-container
{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.chat
{
    flex: 1;
    overflow-y: auto;
}
.message
{
    display: flex;
    flex-direction: row;
    height: 48px;
}
.messageText
{
    display: flex;
    flex-direction: column;
}
.messageText p
{
    margin: 0;
    flex: 1;
}
.message img
{
    width: 48px;
    height: 48px;
}
.chatForm
{
    display: flex;
    flex-direction: row;
}
.chatForm input
{
    flex: 1;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    color: white;
    background-color: black;
    border: 1px white solid;
}
.chatForm input:focus
{
    outline: none;
}
.chatForm button
{
    width: 100px;
    margin-right: 10px;
}